{% set id = id ?? 0 %}
{% set heading = heading ?? '' %}
{% set body = body ?? '' %}
{% set textSize = textSize ?? null %}
{% set link = link ?? null %}
{% set borderTop = borderTop ?? true %}
{% set images = images ?? [] %}

<a href="{{ link }}" class="db" data-panel-section-id="{{ id }}">
    <div class="grid">
        <div class="s-col-12">
            <div class="{{ borderTop ? 'border-top' }} s-pad-bottom-1"></div>
        </div>
        <div class="s-col-12 m-col-6 s-pad-bottom-1">
            <h2 class="text-xl">{{ heading }}</h2>
        </div>
        <div class="s-col-12 m-col-6 {{ textSize ? "text-#{ textSize }" }} s-pad-bottom-2">
            {{ body | raw }}
            {% if link %}
                {% include 'components/button/button' with { icon: 'arrow' } %}
            {% endif %}
        </div>
    </div>
    <div class="grid s-pad-bottom-2 m-pad-bottom-4">
        {% switch images | length %}
            {% case 1 %}
                <div class="s-col-12 m-col-10 m-off-2">
                    {% include 'components/image-with-caption/image-with-caption' with {
                        image: images[ 0 ].image,
                        caption: images[ 0 ].caption,
                        ratio: 4/5
                    } only %}
                </div>
            {% case 2 %}
                <div class="s-col-6 m-col-5 m-off-1">
                    {% include 'components/image-with-caption/image-with-caption' with {
                        image: images[ 0 ].image,
                        caption: images[ 0 ].caption,
                        ratio: 3/2
                    } only %}
                </div>
                <div class="s-col-6 m-col-5 s-pad-top-2 m-pad-top-3 l-pad-top-5">
                    {% include 'components/image-with-caption/image-with-caption' with {
                        image: images[ 1 ].image,
                        caption: images[ 1 ].caption,
                        ratio: 3/2
                    } only %}
                </div>
        {% endswitch %}
    </div>
</a>