{% import 'macros/macros' as m %}

{% if asset %}
    {% set ratio = ratio is defined ? ratio : true %}
    {% set ratio = ratio is same as( true ) ? ( asset.height / asset.width ) : ratio %}
    {% set attrs = attrs ?? {} %}
    {% set lazy = lazy ?? true %}
    {% set imgAttrs = {
        ( lazy ? 'data-srcset' : 'srcset' ): m.srcset( asset, ratio ),
        src: asset.getUrl({ width: 2 })
    } %}
    
    {% if ratio %}
        <div style="padding-bottom: {{ ratio * 100 }}%" {{ m.attrs( attrs ) }}>
            <img class="cover" {{ m.attrs( imgAttrs ) }}/>
        </div>
    {% else %}
        <img {{ m.attrs( imgAttrs ) }} {{ m.attrs( attrs ) }}>
    {% endif %}
{% endif %}