{% set header = header ?? {} %}
{% set content = content ?? null %}
{% set content_complex = content_complex ?? null %}
{% set menu = menu ?? {} %}
{% set footer = footer ?? {} %}
{% set dark = dark ?? false %}

{% import 'macros/macros' as m %}

<!DOCTYPE html>
<html>
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ googleTagManagerID }}');</script>
        <!-- End Google Tag Manager -->
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% if entry is defined %}
            {% set seo = entry.seo %}
            {% hook "seo" %}
        {% else %}
            <title>{{ siteName }}</title>
        {% endif %}
    	{% if globals.favicon16 | length %}<link rel="icon" href="{{ globals.favicon16.first.url }}" sizes="16x16">{% endif %}
        {% if globals.favicon32 | length %}<link rel="icon" href="{{ globals.favicon32.first.url }}" sizes="32x32">{% endif %}
        <link rel="stylesheet" href="{{ m.baseUrl() }}static/style.css" type="text/css" />
    </head>
    <body class="{{ dark ? 'bg-dark' }}">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ googleTagManagerID }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

 
        {% include 'components/panels/panels' with {
            menu: menu,
            header: header,
            content: content,
            content_complex: content_complex,
            footer: footer
        } only %}
        {% include 'components/search/search' only %}
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
        <script type="text/javascript" src="{{ m.baseUrl() }}static/main.js"></script>
    </body>
</html>