{% set header = header ?? {} %}
{% set content = content ?? null %}
{% set content_complex = content_complex ?? null %}
{% set menu = menu ?? {} %}
{% set footer = footer ?? {} %}

{% set footerTemplate %}
    {% include 'components/footer/footer' with footer only %}
{% endset %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% if entry is defined %}
            {% set seo = entry.seo %}
            {% hook "seo" %}
        {% else %}
            <title>{{ siteName }}</title>
        {% endif %}
    	{% if globals.favicon16 | length %}<link rel="icon" href="{{ globals.favicon16.first.url }}" sizes="16x16">{% endif %}
        {% if globals.favicon32 | length %}<link rel="icon" href="{{ globals.favicon32.first.url }}" sizes="32x32">{% endif %}
        <link rel="stylesheet" href="{{ craft.app.sites.getPrimarySite().getBaseUrl() }}static/style.css" type="text/css" />
    </head>
    <body>
        {% include 'components/panels/panels' with {
            menu: menu,
            header: header,
            content: content,
            content_complex: content_complex,
            footer: footer
        } only %}
        <script type="text/javascript" src="{{ craft.app.sites.getPrimarySite().getBaseUrl() }}static/main.js"></script>
    </body>
</html>