{% set category = entry.category.one() %}
{% set author = entry.newsAuthor.one() %}
{% set timeToRead = entry.wordCount / 200 %}
{% set mins = entry.postDate|date('i') - entry.postDate|date('g') %}
{% if mins < 10 %}
    {% set mins = 10 %}
{% endif %}
    
<a  class="news-item news-item-complex text-m grid col-justify col-baseline s-pad-top-1" 
    href="{{ entry.url }}" 
    data-category="{{ category.title }}"
    data-author="{{ author.title }}"
    data-length="{{ entry.wordCount }}"
    data-date="{{ entry.postDate.getTimestamp() }}"
    >
    
    <div class="m-col-4">
        {{ entry.title }}
    </div>
    <div class="m-col-2">
        {% if category %}
            <span class="">{{ category.title }}</span>
        {% endif %}
    </div>
    <div class="m-col-2">
        {% if author %}
            <span class="">{{ author.title }}</span>
        {% endif %}
    </div>
    <div class="m-col-2">
        <span class="">{{ entry.wordCount }}<br> 
        ~ {{ timeToRead|round(0, 'floor') }} mins</span>
    </div>
    <div class="m-col-2">
        <span class="">{{ entry.postDate | date("F j, Y")  }}<br>
        {{ entry.postDate | date("H:i")  }}:{{ mins }}</span>
    </div>

    <div class="rule s-pad-top-1"></div>
</a>
