{% import 'macros/macros' as m %}

{% set data = data ?? [] %}

{% set max = max( data | map( _ => _.percentage ) | merge([ 1 ]) ) %}

<div class="grid s-pad-bottom-3 l-pad-bottom-5">
    <div class="s-col-12">
        <div class="{{ m.bem( 'horizontal-bar-chart-square' ) }}">
            {% for item in data %}
                <div
                    class="
                        horizontal-bar-chart-square__bar text-xl s-pad-half m-pad-1
                        {{ item.percentage == max
                            ? 'bg-dark text-stroke'
                            : "border-left border-right border-bottom #{ loop.first ? 'border-top' }"
                        }}
                    "
                    style="width: {{ ( item.percentage / max ) * 100 }}%"
                >
                    <div class="lh1">{{ item.label | slice( 0, 1 ) }}<span class="s-hide m-show-i">{{ item.label | slice( 1 ) }}</span> – {{ item.percentage }}%</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
