{% set primary = primary ?? [] %}
{% set secondary = secondary ?? [] %}
{% set tertiary = tertiary ?? [] %}
{% set bg = bg ?? 'dark' %}

<div class="xg"></div>
<div class="grid s-pad-top-1 m-pad-bottom-1 border-top">
    <div class="s-col-12">
        {% include 'components/menu-items/menu-items' with { primary: primary, secondary: secondary, circles: true } only %}
    </div>
</div>
<footer class="footer bg-{{ bg }} s-pad-top-half s-pad-bottom-1 m-pad-bottom-half">
    <div class="footer__links s-gap-bottom-1 m-gap-bottom-half l-gap-bottom-0">
        <div class="footer__item s-hide m-show">
            © {{ now | date('Y') }} Stichd
        </div>
        {% for item in tertiary %}
            <a class="footer__item footer__item--link" href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}
        {% if tertiary | length % 2 == 1 %}
            <span class="footer__item footer__item--link footer__item--dummy">&nbsp;</span>
        {% endif %}
        <div class="footer__item s-hide l-show">
            Stichd is a member of the Puma SE Group.
        </div>
    </div>
    <div class="footer__text l-hide s-gap-bottom-half m-gap-bottom-0">
        Stichd is a member of the Puma SE Group.
    </div>
    <div class="footer__text m-hide">
        © {{ now | date('Y') }} Stichd<br>
    </div>
</footer>        
