{% set label = label ?? null %}
{% set href = href ?? null %}
{% set target = target ?? null %}
{% set icon = icon ?? null %}
{% set class = class ?? null %}

{% set content %}
    {% if label %}
        <div class="button__label lh1">
            {{ label | raw }}
        </div>
    {% endif %}
    {% if icon %}
        <div class="icon">
            {% include "icons/#{icon}.svg" ignore missing %}
        </div>
    {% endif %}
{% endset %}

{% if href %}
    <a
        class="button text-l {{ class }}"
        href="{{ href }}"
        {% if target %}
            target="{{ target }}"
        {% endif %}
    >
        {{ content }}
    </a>
{% else %}
    <div class="button text-l">
        {{ content }}
    </div>
{% endif %}