{% extends 'work-at-stichd/layout' %}
{% set backUrl = craft.entries.section('workAtStichd_vacanciesIndex').one.url %}
{% set applyUrl = "mailto:#{ globals.email }?#{ { subject: globals.applyEmailSubject, body: globals.applyEmailBody } | url_encode }" %}
{% block content %}
    <div class="grid s-pad-top-2 s-pad-bottom-2 l-pad-bottom-4">
        <div class="s-col-12 l-col-6">
            <h2 class="text-xl s-gap-bottom-half">{{ entry.title }}</h2>
            <div class="s-pad-bottom-1">
                {% for item in [ entry.jobDepartment, entry.jobLocation, entry.jobContract ] | filter( _ => _ ) %}
                    <span class="text-s circle db">{{ item }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="s-col-12 l-col-6 text-l redactor">
            {{ entry.jobSummary }}
        </div>
    </div>
    {% for section in entry.jobDescription %}
        <div class="grid">
            <div class="s-col-12 border-top"></div>
            <div class="s-col-12 l-col-6 s-pad-top-1">
                <h2 class="text-xl">{{ section.heading }}</h2>
            </div>
            <div class="s-col-12 l-col-6 s-pad-top-1 s-pad-bottom-2 l-pad-bottom-3 redactor">
                {{ section.copy }}
            </div>
        </div>
    {% endfor %}
{% endblock %}