{% set data = data ?? [] %}

{% set baseUrl = craft.app.sites.getPrimarySite().getBaseUrl() %}

<div class="grid s-pad-bottom-3 l-pad-bottom-5">
    <div class="s-col-12">
        <div class="data-grid">
            {% for item in data %}
                <div class="data-grid__item">
                    <div class="text-s">
                        {{ item.label }}
                    </div>
                    <a class="data-grid__item-percentage text-l bg-dark cover">
                        {{ item.percentage }}%
                    </a>
                </div>
                {% if loop.index == floor( data | length * 1/4 ) %}
                    <div
                        class="data-grid__item data-grid__item--height-2"
                        style="background-image: url({{ baseUrl }}static/img/illustration_chameleon.png)"
                    >
                        {#<img src="{{ baseUrl }}static/img/illustration_chameleon.png" class="contain"></img>#}
                    </div>
                {% elseif loop.index == floor( data | length * 1/2 ) %}
                    <div
                        class="data-grid__item data-grid__item--height-3"
                        style="background-image: url({{ baseUrl }}static/img/illustration_hands.png)"
                    >
                        {#<img src="{{ baseUrl }}static/img/illustration_hands.png" class="contain"></img>#}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>